.hero {
  position: relative;
  text-align: center;
  margin: 64px 0;
  display: flex;
  flex-direction: row;

  .left {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--secondary);

    .content {
      text-align: left;
      min-width: 250px;
      padding-bottom: 24px;

      h1 {
        font-size: 4.5rem;
        font-weight: bold;
        letter-spacing: 1.15px;
        margin: 0;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: 0.12px;
        margin: 0 0 32px;
      }
    }
  }

  .scroll-down {
    position: relative;

    .animate-box {
      transform: translateX(-50%);
      position: absolute;
      top: 100%;
    }

    .scroll-box {
	    -webkit-animation: 4s bounce-top infinite ;
      animation: 4s bounce-top infinite ;

      ::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, transparent 0, transparent 12%, var(--bg) 30%, var(--bg));
      }
    }
  }

  .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 24px;

    .content {
      max-width: 620px;
      text-align: left;

      .tags {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;
      }

      .tags span {
        background: var(--secondary);
        color: var(--primary);
        border-radius: 0.5rem;
        padding: 0.3rem 1rem;
        font-size: 0.9rem;
      }

      .bio {
        margin: 1.5rem 0;
        color: var(--primary);
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .scroll-down {
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  4% {
    opacity: 1;
  }
  8% {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  12% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  16% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  18% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4%,
  10%,
  14%,
  16% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}