
  <header class="container"> 
    <div class="hero">
      <div class="left">
        <div class="content">
          <h1>Valéria <br />Gobbi</h1>
          <h2>UI/UX Designer</h2>
          <app-socials />
        </div>
      </div>
      <div class="scroll-down">
        <div class="animate-box">
          <div class="scroll-box">
            <scroll-down-svg />
          </div>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <div class="tags">
            <span>Designer</span>
            <span>5 anos de experiência</span>
            <span>User flows</span>
            <span>Prototipação</span>
            <span>Interfaces responsivas</span>
            <span>Design system</span>
            <span>Pensamento analítico</span>
            <span>Gestão do tempo e priorização</span>
            <span>Ambientes ágeis</span>
          </div>
          <p class="bio">
            Focada em pesquisa orientada a dados, prototipagem de alta fidelidade para desktop, tablet e celular, validação de usabilidade e design de interface de usuário.<br>
            Atualmente, trabalho na Skillaf, filial europeia da Wise Group desenvolvendo soluções em diversas áreas de negócio.
          </p>
        </div>
      </div>
    </div>
  </header>