

.projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px auto;
  scroll-margin-top: 100px;

  .project-card {
    border-radius: 24px;
    border: 0px solid var(--secondary);
    width: 529px;
    max-width: calc(80vw - 30px);
  }
}