

.projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px auto;

  .project-card {
    border-radius: 24px;
    border: 0px solid var(--secondary);;
  }
}