:host {
  position: relative;
  width: 100vw;
  height: 60px;
  margin: 64px auto 0;

  div.strip-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;

    &:hover div.company-logos {
      animation-play-state: paused;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, var(--bg) 2%, var(--bg) 3%, transparent 15%, transparent 84%, var(--bg) 97%, var(--bg) 98%);
    }

    div.company-logos {
      height: 100%;
      display: inline-flex;
      justify-content: space-around;
      flex-direction: row;
      animation-duration: 90s;
      animation-timing-function: linear;
      animation-name: slide-across;
      animation-iteration-count: infinite;

      img.logo-img {
        height: 100%;
        width: auto;
        margin: 0 50px;
        fill: var(--primary);
      }
    }
  }
  @keyframes slide-across {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}