:host {
  display: block;
  margin-bottom: 80px;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 4rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary);
    padding: 1rem 2rem;
    z-index: 1;

    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      flex-grow: 1;
    }

    .theme-toggle {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--primary);
    }
  }
}