
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      secondary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Figtree,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  // Reset the user agent margin.
  margin: 0;
}
// styles.scss

:root {
    --bg: #FFFFFF;
    --primary: #131923;
    --secondary: #F3F4FC;
  }
  
  [data-theme='dark'] {
    --bg: #1F242E ;
    --primary: #F3F4FC;
    --secondary: #181c2a;
  }

  html, body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
  }
  
  body {
    background: var(--bg);
    color: var(--primary);
    margin: 0;
    transition: background 0.3s, color 0.3s;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 1600px;
  width: calc(100vw - 64px);
  margin: 0 auto;
  padding: 2rem;
}