// styles.scss

:root {
    --bg: #FFFFFF;
    --primary: #131923;
    --secondary: #F3F4FC;
  }
  
  [data-theme='dark'] {
    --bg: #1F242E ;
    --primary: #F3F4FC;
    --secondary: #181c2a;
  }

  html, body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body {
    background: var(--bg);
    color: var(--primary);
    margin: 0;
    transition: background 0.3s, color 0.3s;
  }

  a {
    color: inherit;
    text-decoration: none;
  }